
/* CSS PAGINA HOME COMEÇA AQUI */

/* Estilos gerais para todos os dispositivos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(/img/fundoClaro.jpg);
  }
  
  .conteudo-Home .conteudo-cima {
    display: flex;
    flex-direction: column;
  }
  
  .titulo {
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin: 20px auto;
    width: 75%;
    padding: 15px;
    border-radius: 15px;
    font-size: 2rem;
    opacity: 0.7;
    max-width: 70rem;
  }
  
  .sub-titulo {
    color: #d9534f;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
  
  .conteudo-carrousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100%;
    margin-top: 50px;
  }
  
  .texto-home{
    color: #494949;
  }

  .caixa-texto {
    border-radius: 20px;
    padding: 25px;
    background-color: white;
    font-size: 20px;
    width: 50vw;
    max-width: 700px;
  }
  
  .titulo-conteudo-esquerda {
    color: red;
    font-size: 2rem;
    text-align: center;
  }
  
  .carousel-inner {
    height: 320px;
    width: 500px;
    border-radius: 20px;
    object-fit: contain;
  }
  
  .lanches, .bebidas, .sobremesas {
    background-color: rgb(221, 218, 218);
    width: 30%;
    border-radius: 20px;
    padding: 15px;
    max-width: 400px;

    h3{
        font-size: 1.5rem;
        margin-top: 8px;
        font-weight: bold;
        color: #675f5f;
    }

    p{
        font-size: 1.2rem;
        color: #675f5f;
    }
  }
  
  .imagem1, .imagem2, .imagem3 {
    height: 15em;
    width: 100%;
  }
  
  .conteudo-imagem {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    padding: 35px;
    justify-content: space-around;
    background-color: #494949;

  }
  
  .rodape {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #494949;

  }
  
  .rodape-texto {
    background-color: rgb(221, 218, 218);
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 15px;
    border-radius: 20px;
    font-size: 1.1rem;
    color: #675f5f;
    margin-bottom: 25px;
    max-width: 700px;
    
    h3{
        color: red;
        text-align: center;
        font-size: 2rem;
    }
  }
  
  .col-lg-6 {
    width: 30vw;
    height: 22rem;
  }

  /* CSS PAGINA HOME É ATE AQUI */

    /* ------------------------------------------------------------------- */

  /* CSS PAGINA SOBREMESAS COMEÇA AQUI */

  .fundoDoce {
    background-image: url(./img/fundoDoce1.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100%;
    background-color: #1b1a1a;
  }

  .menuh2Sobremesas{
        color: aliceblue;
        background-color: black;
        width: 50vw;
        font-size: 250%;
        padding: 10px;
        border-radius: 15px;
        opacity: 0.8;
        max-width: 50rem;
  }

  .tableSobremesas {
    padding: 35px;
    margin: auto;
    background-color: black;
    opacity: 0.8;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 13px;
    max-width: 70rem;
  }

.sub-titulo-sobremesas{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.texto-sobremesa{
    font-size: 15px;
}



  .menuSobremesas {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2{
        color: white;
        background-color: black;
        width: 50vw;
        padding: 10px;
        border-radius: 15px;
        opacity: 0.8;
    }
  }

  /* CSS PAGINA SOBREMESAS TERMINA AQUI */

   /* ------------------------------------------------------------------- */

    /* CSS DA PAGINA DE BEBIDAS COMEÇA AQUI  */

      .menuh2Bebidas {
        color: aliceblue;
        background-color: black;
        width: 50vw;
        font-size: 250%;
        padding: 10px;
        border-radius: 15px;
        opacity: 0.8;
        max-width: 60rem;
      }

    .fundoBebidas {
        background-image: url(./img/fundoBebidas.jpg.jpg);
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100%;
        background-color: #675f5f;
      }

    .menuBebidas {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      

      .sub-titulo-bebidas{
        color: white;
        font-size: 30px;
        font-weight: bold;
      }

      .tableBebidas {
        padding: 30px;
        margin: auto;
        background-color: black;
        opacity: 0.8;
        border-radius: 25px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        font-size: 20px;
        width: 80%;
        max-width: 70rem;
        margin-bottom: 15px;
      }

        p{
            color: white;
        }
    

    /* CSS DA PAGINA DE BEBIDAS TERMINA AQUI  */

   /* ------------------------------------------------------------------- */

   /* CSS DA PAGINA DE HAMBURGUERES COMEÇA AQUI */

   .fundoCardapio {
    background-image: url(./img/lancheApr.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
  }

  .menuLancheHamburguer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .menuh2Hamburguer{
    text-align: center;
    color: aliceblue;
    background-color: black;
    width: 60vw; /*Tamanho*/
    font-size: 250%;
    padding: 15px;
    border-radius: 15px;
    opacity: 0.8;
    max-width: 60rem;
  }

  .tableLanches{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 80%; /*ajusta o tamanho da tabela*/
    margin: auto;
    background-color: black;
    opacity: 0.8;
    border-radius: 25px;
    max-width: 70rem;
    height: 75vh;
    text-align: center;
    color: white;
    padding: 10px;
  }

  .sub-titulo-lanches{
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  .texto-lanches{
        font-size: 13px;
  }


   /* CSS DA PAGINA DE HAMBURGUERES TERMINA AQUI */

   /* ------------------------------------------------------------------- */

   /* CSS DA PAGINA DE SUGESTAO COMEÇA AQUI */

   .Sugestao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.tittleSugestao{
  color: #d9534f;
  text-align: center;
  margin: auto;
  font-size: 35px;
}

.form-container {
  width: 100%;
  max-width: 600px; /* Limita o tamanho máximo da caixa do formulário */
  padding: 20px;
  background-color: white; /* Fundo branco */
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px; /* Bordas arredondadas */
  margin: auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin: auto;
}

*/
.mb-3 {
  margin-bottom: 10px;
  
}

#exampleCheck1{
  border: 1px solid;
  opacity: 0.5;
}
/* Estiliza o campo de texto */
.form-control1,
.form-control2 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Caixa de texto para sugestões com ajuste para quebra de linha */
textarea.form-control2 {
  resize: vertical; /* redimensionar a altura da caixa de texto */
  white-space: pre-wrap; /* quebra de linha dentro do textarea */
}

/* Estilo do botão */
.btn-primary {
  background-color: #f04d48;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.btn-primary:hover {
  background-color: #ff0c03;
}

   /* CSS DA PAGINA DE SUGESTAO TERMINA AQUI */

   /* ------------------------------------------------------------------- */

  /* MEDIA DA PAGINA HOME COMEÇA AQUI */

  @media (max-width: 1024px) {
    .titulo {
      font-size: 2rem;
    }

    .sub-titulo{
        font-size: 1.5rem;
    }
  
    .caixa-texto {
      width: 70vw;
      font-size: 18px;
    }
  
    .conteudo-carrousel {
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
  
    .carousel-inner {
      width: 100%;
      height: auto;
    }
  
    .lanches, .bebidas, .sobremesas {
      margin-bottom: 20px;

      h3{
        font-size: 1.5em;
        text-align: center;
        font-weight: bold;
        color: #675f5f;
      }

      img{
        height: 20vh;
      }

      p{
        display: none;
      }
    }
  
    .rodape-texto {
        display: none;
    }
  
    .col-lg-6 {
      width: 100vw;
      height: auto;
    }
  }
  
 
  @media (max-width: 700px) {
    .titulo {
      font-size: 1.5rem;
    }
  
    .sub-titulo {
      font-size: 1.2rem;
    }
  
    .caixa-texto {
      display: none;
    }
  
    .conteudo-carrousel {
        flex-direction: column;
    
    }
  
    .carousel-inner {
      width: 100%;
      height: auto;
    }
  
    .lanches, .bebidas, .sobremesas {
        width: 65%;
        margin-bottom: 15px;
        text-align: center;
    }

    .conteudo-imagem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .rodape-texto {
      display: none;
    }
  
    .col-lg-6 {
      width: 100vw;
      height: auto;
    }
  }
  /* MEDIA PAGINA HOME É ATE AQUI */

   /* ------------------------------------------------------------------- */

  /* MEDIA PAGINA SOBREMESAS COMEÇA AQUI */

  @media (max-width: 1024px){
    .ingredientes{
        display: none;
    }

    .sub-titulo-sobremesas{
        font-size: 30px;
    }

    .tableSobremesas{
        width: 80vw;
    }

    .menuh2Sobremesas{
        font-size: 30px;
    }
    
    .texto-sobremesa{
        font-size: 20px;
    }
  }

  @media (max-width: 470px){
    .sub-titulo-sobremesas{
        font-size: 25px;
    }

    .texto-sobremesa{
        font-size: 20px;
    }
    

    .tableSobremesas{
        height: 80vh;
        width: 90vw;
    }
    
  }
    /* MEDIA PAGINA SOBREMESAS TERMINA AQUI */

    /* ------------------------------------------------------------------- */

    /* MEDIA DA PAGINA DE BEBIDAS COMEÇA AQUI  */

    @media (max-width: 1024px){
        .sub-titulo-bebidas{
            font-size: 20px;
        }
        
        .menuh2Bebidas{
            font-size: 30px;
        }

        .texto-bebidas{
            font-size: 20px;
        }
      }
    
    @media (max-width: 510px){
        .sub-titulo-bebidas{
            font-size: 20px;
        }

        .menuBebidas{
            
        }
        
        .texto-bebidas{
            font-size: 12px;
        }
      }

    /* MEDIA DA PAGINA DE BEBIDAS TERMINA AQUI  */

    /* ------------------------------------------------------------------- */

    /* MEDIA DA PAGINA DE HAMBURGUER COMEÇA AQUI  */

    @media (max-width: 1024px){
        .sub-ingredientes{
            display: none;
        }

        .texto-lanches{
            font-size: 20px;
      }

      .menuh2Hamburguer{
        font-size: 25px;
    }

    }

    @media (max-width: 470px){
        .menuh2Hamburguer{
            font-size: 20px;
        }

        .sub-titulo-lanches{
            font-size: 25px;
        }

        .texto-lanches{
            font-size: 18;
        }
    }

    /* MEDIA DA PAGINA DE HAMBURGUER TERMINA AQUI  */
    
  